
python-multidict/multidict-6.0.4.tar.gz
python-yarl/yarl-1.8.2.tar.gz
SwayNotificationCenter/v0.7.3.tar.gz
libhandy/libhandy-1.8.0.tar.xz
gtk-layer-shell/gtk-layer-shell-0.8.0.tar.gz
brightnessctl/0.5.1.tar.gz
feh/feh-3.9.1.tar.bz2
imlib2/imlib2-1.10.0.tar.xz
maim/maim-5.7.4.tar.gz
slop/slop-7.6.tar.gz
send2trash/send2trash-1.8.0.tar.gz
glm/glm-0.9.9.5.tar.gz
wlr-randr/v0.2.0.tar.gz
tllist/1.1.0.tar.gz
azote/azote-1.9.7.tar.gz
fcft/3.1.5.tar.gz
foot/1.13.1.tar.gz
grim/v1.4.0.tar.gz
jq/jq-1.6.tar.gz
lxappearance/lxappearance-0.6.3.tar.xz
slurp/slurp-1.4.0.tar.gz
swappy/swappy-1.5.1.tar.gz
swayidle/swayidle-1.8.0.tar.gz
swaylock/swaylock-1.7.tar.gz
wdisplays/1.1.tar.gz
wl-clipboard/wl-clipboard-2.1.0.tar.gz
wlsunset/0.2.0.tar.gz
python-requests/requests-2.28.1.tar.gz
python-netifaces/netifaces-0.11.0.tar.gz
adpcmia.txt
apmdica.info
gopsuinfo/v0.1.2.tar.gz
google-go-lang/go1.19.4.src.tar.gz
google-go-lang/go1.4-bootstrap-20171003.src.tar.gz
google-go-lang/go1.4-bootstrap-20171003.tar.gz
python-xlib/python-xlib-0.26.tar.bz2

*.gz
